Source: ros-eloquent-fleet-state-visualizer
Section: misc
Priority: optional
Maintainer: Morgan Quigley <mquigley@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-eloquent-rmf-fleet-msgs, ros-eloquent-visualization-msgs, ros-eloquent-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-eloquent-fleet-state-visualizer
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-eloquent-ament-index-python, ros-eloquent-rclpy, ros-eloquent-rmf-traffic-msgs, ros-eloquent-std-msgs, ros-eloquent-visualization-msgs, ros-eloquent-ros-workspace
Description: Fleet state visualizer
