Source: ros-rolling-visualizer
Section: misc
Priority: optional
Maintainer: yadu <yadunund@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-visualizer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-building-systems-visualizer, ros-foxy-fleet-state-visualizer, ros-foxy-rviz2-plugin, ros-rolling-launch-xml, ros-rolling-rmf-schedule-visualizer, ros-rolling-ros-workspace
Description: TODO: Package description
